.wrapper__artificial-intelligence {
  width: 60px;
  height: 60px;
  background-color: var(--color-white);
  box-shadow: 1px 1px 20px 0px rgba(10, 19, 30, 0.05);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  margin-left: 0;
}
